<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="row">
    <div class="container-fluid" style="position:relative; top: 5px; left: 20px;">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/cases">Cases</a></li>
        </ol>
      </div>
    </div>
  </div>
</nav>